/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  background: black;
  background-image: fixed;

}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.nav_logo {
  padding: 10px 0;
}
.menu_items {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* background: url(images/bg-dot.png), url(images/bg-dot.png), url(images/bg-round.png), url(images/bg-tree.png);
  background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
  background-repeat: no-repeat; */
}
/* .curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
} */
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h2,
.hero .row p {
  color: #fff;
}
.hero .row h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero .column {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.btn {
  color: #fff;
  padding: 14px 26px;
  background: blue ;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:last-child {
  border: 2px solid #fff;
  background: black;
  color: #fff;
}
.btn:last-child:hover {
  background-color: #fff;
  color: #333;
}
.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
}
#menu_toggle {
  display: none;
}



/* 
------------------------------footer starts------------------ */

/* .content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 300;
  color: blue;
  font-style: italic;
} */


footer{
  position:absolute ;
  bottom: 0px;
  top: 650px;
  width: 100%;
  background: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 1px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}
/* .box .img{
  width: 3px;
  height: 5px;
} */
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 5px;
  width: 100%;
  /* background: orangered; */
}
.box .content:after{
  position: absolute;
  content: '';
  height: 5px;
  width: 15%;
  /* background: #ece916; */
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #2a3a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: yellow;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.4375rem;
  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #02a332;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}




/* Reponsive */
@media (width < 860px) {
  #menu_toggle {
    display: block;
  }
  .nav {
    padding: 0 20px;
    background-color: #fff;
  }

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #333;
  }
  #menu_toggle {
    width: 20px;
    cursor: pointer;
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
  .content-col h6{
    font-size: 3vmin;
    color: black;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 2px;
  }
  .content-col h1{
    font-size: 5vmin;
    color: black;
    margin: 10px 10px;
  }
  .content-col p{
  padding: 0;
  margin: 10px 30px;
  text-align: justify;
  }
}

@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
  .content-col h6{
    font-size: 1vmin;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
  }
}


/* -------------------------/Images gallery--------------------------- */
/* .content-col{
  width: 40%;
}
.image-col{
  width: 60%;
}

.tours .image-gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  z-index: 10;
  position: relative;
}
.image-gallery img{
  max-width: 200px;
  max-height: auto;
  margin: 10px;
}
.content-col h6{
  font-size: 7vmin;
  color: black;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 2px;
}
.content-col h1{
  font-size: 7vmin;
  color: black;
  margin: 30px 30px;
}
.content-col p{
padding: 0;
margin: 30px 30px;
text-align: justify;
}
.content-col .ctn{
  margin-left: -100px;
  color: blue;
} */